{{ 'video-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .video-native__desktop {
    display: none;
  }

  @media screen and (min-width: 750px) {
    .video-native__mobile {
      display: none;
    }
    .video-native__desktop {
      display: block;
    }
  }

  .video-native__mobile video,
  .video-native__desktop video {
    width: 100%;
    height: auto;
    display: block;
  }

  .video-native__mobile.video-section__media,
  .video-native__desktop.video-section__media {
    position: relative;
    width: 100%;
    padding-bottom: 0;
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="video-section isolate color-{{ section.settings.color_scheme }} gradient{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding">
    <div{% if section.settings.full_width %} class="page-width"{% endif %}>
      {%- unless section.settings.heading == blank -%}
        <div class="title-wrapper title-wrapper--no-top-margin">
          <h2 class="title {{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>
        </div>
      {%- endunless -%}
    </div>

    {%- if section.settings.video_mobile != blank -%}
      <div class="video-native__mobile video-section__media global-media-settings{% if section.settings.full_width %} global-media-settings--full-width{% endif %}">
        {{ section.settings.video_mobile | video_tag: 
          autoplay: section.settings.enable_video_autoplay,
          loop: section.settings.enable_video_looping,
          muted: section.settings.enable_video_muted,
          controls: true
        }}
      </div>
    {%- endif -%}

    {%- if section.settings.video_desktop != blank -%}
      <div class="video-native__desktop video-section__media global-media-settings{% if section.settings.full_width %} global-media-settings--full-width{% endif %}">
        {{ section.settings.video_desktop | video_tag: 
          autoplay: section.settings.enable_video_autoplay,
          loop: section.settings.enable_video_looping,
          muted: section.settings.enable_video_muted,
          controls: true
        }}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Video - Native",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Video",
      "label": "t:sections.video.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "header",
      "content": "Desktop Video"
    },
    {
      "type": "video",
      "id": "video_desktop",
      "label": "Desktop video"
    },
    {
      "type": "header",
      "content": "Mobile Video"
    },
    {
      "type": "video",
      "id": "video_mobile",
      "label": "Mobile video"
    },
    {
      "type": "header",
      "content": "Video Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "label": "Enable autoplay",
      "default": false,
      "info": "Video will play automatically when loaded"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable looping",
      "default": false,
      "info": "Video will loop continuously"
    },
    {
      "type": "checkbox",
      "id": "enable_video_muted",
      "label": "Mute video",
      "default": false,
      "info": "Video will be muted by default"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.video.settings.full_width.label",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Video - Native"
    }
  ]
}
{% endschema %}

